
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title class="title">Markdown Editor</md-card-title>
  </md-card-header>
  <md-card-content>

    <div id="translatedMarkdown" [innerHTML]="translatedMarkdown | async" class="translations">
    </div>
    <md-form-field class="markdown-container">
      <textarea mdInput #markdownTextArea (keyup)="translateMarkdown(markdownTextArea.value)"
              autocomplete="off" [placeholder]="placeHolderText" class="markdown"
              mdTextareaAutosize style="min-height:100px;" ></textarea>
    </md-form-field>

  </md-card-content>
</md-card>
